img{
    width: 400px;
    height: 420px;
}

h1 {
    color: rgb(209, 209, 199);
}

h3 {
    align-content: center;
    line-height: revert;
    color: black; /* Цвет текста */
    height: 30px;
    padding: 5px; /* Поля вокруг текста */
    font: bold italic 180% serif
}

h4 {
    line-height: revert;
    color: black; 
    padding: 5px; 
    font: bold italic 200% serif
}

h6 {
    align-content: center;
    line-height: revert;
    color: black; 
    padding: 2px; 
    font: bold italic 150% serif
}

p {
    align-content: center;
    line-height: revert;
    color: black; 
    font: Times New Roman, 100% sans-serif;
}

body {
    background: rgb(209, 209, 199);
    color: black; 
    background-attachment: fixed; 
    background-repeat: repeat-x; 
    overflow: auto;
}

article {
    float: right;
    padding: 10px;
    width: 60%;
    height: 5%; /* only for demonstration, should be removed */
 }

.left {
    top: auto;
    float: left;
    width: 40%;
    height: 20px;
}
  
section::after {
    content: "";
    display: block;
    clear: both;
}

span {
    background-color: yellow;
    padding-left: 7px;
    padding-right: 7px;
    padding-top: 3px;
    padding-bottom: 3px;
}

footer {
    background-color: #777;
    padding: 10px;
    text-align: center;
    color: white;
}

.footer-img {
    width: 40px;
    height: 20px;
}
