img{
    width: 400px;
    height: 420px;
}

h1 {
    color: rgb(209, 209, 199);
}

h3 {
    align-content: center;
    line-height: revert;
    color: black; /* Цвет текста */
    height: 30px;
    padding: 5px; /* Поля вокруг текста */
    font: bold italic 180% serif
}

p {
    align-content: center;
    line-height: revert;
    color: black; 
    font: Times New Roman, 100% sans-serif;
}

h4 {
    line-height: revert;
    color: black; 
    padding: 5px; 
    font: bold italic 200% serif
}

h6 {
    align-content: center;
    line-height: revert;
    color: black; 
    padding: 2px; 
    font: bold italic 180% serif
}

body {
    background: rgb(209, 209, 199);
    color: black; 
    background-attachment: fixed; 
    background-repeat: repeat-x; 
    overflow: auto;
}

#left { 
    position: absolute; 
    left: 0; 
    top: 0; 
    width: 45%;
 }

#right { 
    position: absolute; 
    right: 0;
    top: 0;
    width: 55%;
 } 

 span {
    background-color: yellow;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
  }
